extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel enim sit amet purus gravida laoreet non eget arcu. Curabitur sollicitudin lacinia nulla, et imperdiet ante interdum at. In posuere sapien erat, sed ornare erat tincidunt sit amet. Aliquam erat volutpat. Aliquam metus neque, vestibulum vel luctus vel, viverra et diam. Integer pellentesque tortor dictum vestibulum suscipit. Nullam quis egestas urna. Ut non turpis sodales nibh egestas commodo. Pellentesque ullamcorper sagittis massa a vehicula.

                p Duis sed convallis tortor, nec fermentum nunc. Donec sit amet turpis id ante eleifend convallis at vel dolor. Fusce vehicula, dui a pulvinar commodo, arcu justo ultrices lorem, sit amet suscipit eros nunc eu metus. Donec quis arcu pharetra, porta libero at, tempus enim. Aenean laoreet dapibus augue, at tincidunt ante bibendum ac. 

                p nec est nisi. Mauris eget ultrices eros. Nullam ut elit eget mauris semper scelerisque sit amet ut diam. Nulla lacus orci, mollis ac tincidunt id, euismod quis massa. Cras vel nisi placerat, dignissim felis non, congue ante. Curabitur dui leo, porta nec pellentesque nec, venenatis ut urna. Etiam malesuada massa ac augue luctus dignissim. Sed vitae libero lectus. Sed faucibus lectus viverra tellus vulputate scelerisque
                
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Curabitur dui leo, porta nec pellentesque nec, venenatis ut urna. Etiam malesuada massa ac augue luctus dignissim. Sed vitae libero lectus. Sed faucibus lectus viverra tellus vulputate scelerisque

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Curabitur dui leo, porta nec pellentesque nec, venenatis ut urna. Etiam malesuada massa ac augue luctus dignissim. Sed vitae libero lectus. Sed faucibus lectus viverra tellus vulputate scelerisque

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Curabitur dui leo, porta nec pellentesque nec, venenatis ut urna. Etiam malesuada massa ac augue luctus dignissim. Sed vitae libero lectus. Sed faucibus lectus viverra tellus vulputate scelerisque
                    p xd
                